
pluginsib.signatureweb=fortress,fire,autofirma,miniappletinserversia,fnmtcloud,firmanocriptografica


pluginsib.signatureweb.fortress.class=org.fundaciobit.pluignsib.signatureweb.fortress.FortressSignatureWebPlugin
pluginsib.signatureweb.fortress.url=https://pre.firmacloud.com/fortress/
pluginsib.signatureweb.fortress.client_id=client
pluginsib.signatureweb.fortress.client_secret=b53dg34ffgac49f0939c9fd28bba2250
pluginsib.signatureweb.fortress.debug=true


pluginsib.signatureweb.fire.class=org.fundaciobit.pluginsib.signatureweb.fire.FIReSignatureWebPlugin
pluginsib.signatureweb.fire.debug=true
pluginsib.signatureweb.fire.appid=TEST
pluginsib.signatureweb.fire.procedure=PROCEDURE
pluginsib.signatureweb.fire.certOrigin=clavefirma
pluginsib.signatureweb.fire.appName=Test
pluginsib.signatureweb.fire.fireUrl=https://127.0.0.1:18443/fire-signature/fireService
pluginsib.signatureweb.fire.javax.net.ssl.keyStore=C:/ruta/keystore.jks
pluginsib.signatureweb.fire.javax.net.ssl.keyStorePassword=pass
pluginsib.signatureweb.fire.javax.net.ssl.keyStoreType=JKS
pluginsib.signatureweb.fire.javax.net.ssl.trustStore=all

pluginsib.signatureweb.fire.allowcertificategeneration=true
pluginsib.signatureweb.fire.passfilterwhennonregistereduser=true
pluginsib.signatureweb.fire.showinfowhennonregistereduser=true
pluginsib.signatureweb.fire.passfilterwhenusercertificateblocked=true
pluginsib.signatureweb.fire.showinfowhenusercertificateblocked=true
pluginsib.signatureweb.fire.passfilterwhenuserhasweakregistry=true
pluginsib.signatureweb.fire.showinfowhenuserhasweakregistry=true
pluginsib.signatureweb.fire.ignore_certificate_filter=true
pluginsib.signatureweb.fire.userspattern={1}


pluginsib.signatureweb.autofirma.class=org.fundaciobit.pluginsib.signatureweb.afirmatriphaseserver.AfirmaTriphaseSignatureWebPlugin
pluginsib.signatureweb.autofirma.debug=true
pluginsib.signatureweb.autofirma.headless=false
pluginsib.signatureweb.autofirma.firefoxinwindowsuseoskeystore=true
pluginsib.signatureweb.autofirma.timeoutbase=600


pluginsib.signatureweb.miniappletinserversia.class=org.fundaciobit.pluginsib.signatureweb.miniappletinserversia.MiniAppletInServerSIASignatureWebPlugin
pluginsib.signatureweb.miniappletinserversia.URL_GATEWAY=https://gateway.pre.sia.es/rss-gateway/HESS/OperationGateWayRSS
pluginsib.signatureweb.miniappletinserversia.AUTH_STORE=C:/ruta/certificat.p12
pluginsib.signatureweb.miniappletinserversia.AUTH_STORE_PASS=pass
pluginsib.signatureweb.miniappletinserversia.SSL_PROTOCOL=TLSv1
pluginsib.signatureweb.miniappletinserversia.ForceSFDA=false
pluginsib.signatureweb.miniappletinserversia.userspattern=XXX_{1}
pluginsib.signatureweb.miniappletinserversia.skip_certificate_selection=true



pluginsib.signatureweb.fnmtcloud.class=org.fundaciobit.pluginsib.signatureweb.fnmtcloud.FNMTCloudSignatureWebPlugin
pluginsib.signatureweb.fnmtcloud.debug=false
pluginsib.signatureweb.fnmtcloud.trustedxURL=https://cloudid.demo.ceres.fnmt.es
pluginsib.signatureweb.fnmtcloud.ssl.protocol=TLSv1.2
pluginsib.signatureweb.fnmtcloud.ssl.truststore=C:/ruta/trustedx-demos.truststore
pluginsib.signatureweb.fnmtcloud.authAuthorizationServer=as-employee
pluginsib.signatureweb.fnmtcloud.signAuthorizationServer=as-employee
pluginsib.signatureweb.fnmtcloud.idp=idp-employee
pluginsib.signatureweb.fnmtcloud.appOAuthFlowSelection=urn:safelayer:tws:policies:authentication:level:low
pluginsib.signatureweb.fnmtcloud.appOAuthClientId=appClientId
pluginsib.signatureweb.fnmtcloud.apiKey=secret
pluginsib.signatureweb.fnmtcloud.appSignScopes=urn:safelayer:eidas:sign:process:document
pluginsib.signatureweb.fnmtcloud.appRawSignScopes=urn:safelayer:eidas:sign:identity:use:server
pluginsib.signatureweb.fnmtcloud.appOAuthScopes=urn:safelayer:eidas:authn_details urn:fnmt:employee
pluginsib.signatureweb.fnmtcloud.htmlbodycontent=<h1>Signature Web Tester</h1><p>Missatge Configurable</p>
pluginsib.signatureweb.fnmtcloud.proxyEnable=false


pluginsib.signatureweb.firmanocriptografica.class=org.fundaciobit.pluginsib.signatureweb.firmanocriptografica.FirmaNoCriptograficaSignatureWebPlugin

pluginsib.signatureweb.firmanocriptografica.serverplugin.class=org.fundaciobit.pluginsib.signatureserver.afirmaserver.AfirmaServerSignatureServerPlugin

pluginsib.signatureweb.firmanocriptografica.serverplugin.properties.pluginsib.signatureserver.afirmaserver.applicationID=XXXXXX
pluginsib.signatureweb.firmanocriptografica.serverplugin.properties.pluginsib.signatureserver.afirmaserver.debug=false
pluginsib.signatureweb.firmanocriptografica.serverplugin.properties.pluginsib.signatureserver.afirmaserver.printxml=false
pluginsib.signatureweb.firmanocriptografica.serverplugin.properties.pluginsib.signatureserver.afirmaserver.defaultAliasCertificate=serversigner
pluginsib.signatureweb.firmanocriptografica.serverplugin.properties.pluginsib.signatureserver.afirmaserver.TransformersTemplatesPath=/opt/signatureserver/transformersTemplates
pluginsib.signatureweb.firmanocriptografica.serverplugin.properties.pluginsib.signatureserver.afirmaserver.endpoint=https:/servidorafirma/afirmaws/services/DSSAfirmaSign
pluginsib.signatureweb.firmanocriptografica.serverplugin.properties.pluginsib.signatureserver.afirmaserver.endpoint_upgrade=https://servidorafirma/afirmaws/services/DSSAfirmaVerify
pluginsib.signatureweb.firmanocriptografica.serverplugin.properties.pluginsib.signatureserver.afirmaserver.authorization.username=XXXX
pluginsib.signatureweb.firmanocriptografica.serverplugin.properties.pluginsib.signatureserver.afirmaserver.authorization.password=XXXX