
plugins.signatureweb=fortress,fire,autofirma

plugins.signatureweb.fortress.class=org.fundaciobit.pluignsib.signatureweb.fortress.FortressSignatureWebPlugin
plugins.signatureweb.fire.class=org.fundaciobit.plugins.signatureweb.fire.FIReSignatureWebPlugin
plugins.signatureweb.autofirma.class=org.fundaciobit.plugins.signatureweb.afirmatriphaseserver.AfirmaTriphaseSignatureWebPlugin

pluginsib.signatureweb.fortress.url=https://pre.firmacloud.com/fortress/
pluginsib.signatureweb.fortress.client_id=client
pluginsib.signatureweb.fortress.client_secret=b53dg34ffgac49f0939c9fd28bba2250
pluginsib.signatureweb.fortress.debug=true

plugins.signatureweb.fire.debug=true
plugins.signatureweb.fire.appid=TEST
plugins.signatureweb.fire.procedure=PROCEDURE
plugins.signatureweb.fire.certOrigin=clavefirma
plugins.signatureweb.fire.appName=Test
plugins.signatureweb.fire.fireUrl=https://127.0.0.1:18443/fire-signature/fireService

plugins.signatureweb.fire.javax.net.ssl.keyStore=C:/ruta/keystore.jks
plugins.signatureweb.fire.javax.net.ssl.keyStorePassword=pass
plugins.signatureweb.fire.javax.net.ssl.keyStoreType=JKS
plugins.signatureweb.fire.javax.net.ssl.trustStore=all

plugins.signatureweb.fire.allowcertificategeneration=true
plugins.signatureweb.fire.passfilterwhennonregistereduser=true
plugins.signatureweb.fire.showinfowhennonregistereduser=true
plugins.signatureweb.fire.passfilterwhenusercertificateblocked=true
plugins.signatureweb.fire.showinfowhenusercertificateblocked=true
plugins.signatureweb.fire.passfilterwhenuserhasweakregistry=true
plugins.signatureweb.fire.showinfowhenuserhasweakregistry=true
plugins.signatureweb.fire.ignore_certificate_filter=true
plugins.signatureweb.fire.userspattern={1}

plugins.signatureweb.autofirma.debug=true
plugins.signatureweb.autofirma.headless=false
plugins.signatureweb.autofirma.firefoxinwindowsuseoskeystore=true
plugins.signatureweb.autofirma.timeoutbase=600
